<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youthlin.blog.dao.TaxonomyDao">
    <resultMap id="taxonomyMap" type="com.youthlin.blog.model.po.Taxonomy">
        <id property="taxonomyId" column="taxonomy_id"/>
        <result property="name" column="name"/>
        <result property="slug" column="slug"/>
        <result property="taxonomy" column="taxonomy"/>
        <result property="description" column="description"/>
        <result property="parent" column="parent"/>
        <result property="count" column="count"/>
    </resultMap>

    <sql id="all">
        taxonomy_id, name, slug, taxonomy, description, parent, `count`
    </sql>

    <insert id="save" useGeneratedKeys="true" parameterType="com.youthlin.blog.model.po.Taxonomy"
            keyProperty="optionId">
        INSERT INTO taxonomy (name, slug, taxonomy, description, parent, `count`)
        VALUES (#{name}, #{slug}, #{taxonomy}, #{description}, #{parent}, #{count})
    </insert>

    <select id="findByNameAndTaxonomy" resultMap="taxonomyMap">
        SELECT
        <include refid="all"/>
        FROM taxonomy
        WHERE name=#{name} AND taxonomy=#{taxonomy}
    </select>

    <select id="findByTaxonomy" resultMap="taxonomyMap">
        SELECT
        <include refid="all"/>
        FROM taxonomy
        WHERE taxonomy=#{taxonomy}
        ORDER BY taxonomy_id
    </select>

    <select id="findById" resultMap="taxonomyMap">
        SELECT
        <include refid="all"/>
        FROM taxonomy
        WHERE taxonomy_id=#{id}
    </select>

    <update id="update" parameterType="com.youthlin.blog.model.po.Taxonomy">
        UPDATE taxonomy
        <set>
            name=#{name},
            slug=#{slug},
            description=#{description},
            parent=#{parent},
        </set>
        WHERE taxonomy_id=#{taxonomyId}
    </update>

    <delete id="delete" parameterType="list">
        DELETE FROM taxonomy WHERE taxonomy_id IN
        <foreach collection="list" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <update id="resetPostCategory" parameterType="list">
        UPDATE taxonomy_relationships
        SET taxonomy_id = 1
        WHERE taxonomy_id IN
        <foreach collection="list" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </update>

    <select id="findBySlugAndTaxonomy" resultMap="taxonomyMap">
        SELECT
        <include refid="all"/>
        FROM taxonomy
        WHERE slug=#{slug} AND taxonomy=#{taxonomy}
    </select>

    <select id="findByPage" resultMap="taxonomyMap">
        SELECT
        <include refid="all"/>
        FROM taxonomy
        WHERE taxonomy=#{taxonomy}
    </select>


</mapper>
