<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youthlin.blog.dao.UserDao">
    <resultMap id="userMap" type="com.youthlin.blog.model.po.User">
        <id property="userId" column="ID"/>
        <result property="userLogin" column="user_login"/>
        <result property="userPass" column="user_pass"/>
        <result property="userEmail" column="user_email"/>
        <result property="userUrl" column="user_url"/>
        <result property="userRegistered" column="user_registered"/>
        <result property="userStatus" column="user_status"/>
        <result property="displayName" column="display_name"/>
    </resultMap>

    <insert id="save" useGeneratedKeys="true" parameterType="com.youthlin.blog.model.po.User" keyProperty="userId">
        INSERT INTO users (user_login, user_pass, user_email, user_url, user_registered, user_status, display_name)
        VALUES (#{userLogin}, #{userPass}, #{userEmail}, #{userUrl}, #{userRegistered}, #{userStatus}, #{displayName})
    </insert>

    <update id="update" parameterType="com.youthlin.blog.model.po.User">
        UPDATE users
        SET user_pass       = #{user.userPass}, user_email = #{user.userEmail}, user_url = #{user.userUrl},
            user_registered = #{user.userRegistered}, user_status = #{user.userStatus},
            display_name    = #{user.displayName}
        WHERE ID = #{user.userId}
    </update>

    <sql id="all">
        ID, user_login, user_pass, user_email, user_url, user_registered, user_status, display_name
    </sql>

    <select id="findByUserName" resultType="com.youthlin.blog.model.po.User" resultMap="userMap">
        SELECT
        <include refid="all"/>
        FROM users
        WHERE user_status=0 AND user_login=#{username}
    </select>

    <select id="findById" resultMap="userMap">
        SELECT
        <include refid="all"/>
        FROM users WHERE ID=#{id}
    </select>

    <select id="findByUserNameAndPassword" resultType="com.youthlin.blog.model.po.User" resultMap="userMap">
        SELECT
        <include refid="all"/>
        FROM users
        WHERE user_status=0 AND user_login=#{username} AND user_pass=#{password}
    </select>

    <select id="listAll" resultMap="userMap">
        SELECT
        <include refid="all"/>
        FROM users
    </select>

    <select id="listByIds" resultMap="userMap" parameterType="collection">
        SELECT
        <include refid="all"/>
        FROM users
        WHERE 1!=1
        <if test="userIds !=null and userIds.size() > 0">
            <foreach collection="userIds" item="id" open=" OR ID IN( " close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>


</mapper>
