html, body {
    height: 100%;
}

body {
    background: #f1f1f1;
}

/*noinspection CssOverwrittenProperties*/
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -70px;
}

.clear {
    clear: both;
}

#end {
    clear: both;
    height: 70px;
}

#copyright {
    height: 70px;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    color: #c7c7c7;
    background-color: rgba(255, 255, 255, .2);
}

#copyright p:last-child {
    margin-bottom: 0;
}

#logo {
    text-align: center;
}

.blog-panel {
    padding: 20px 20px 10px;
    max-width: 720px;
    margin: 0 auto 20px;
}

.login-panel {
    width: 320px;
}

.message {
    border-left: 4px solid #00a0d2;
    padding: 12px;
    margin-left: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
}

.error {
    border-left: 4px solid #dc3232;
    padding: 12px;
    margin-left: 0;
    background-color: #fbeaea;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
}
