<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeHandlers>
        <typeHandler handler="com.youthlin.blog.support.CodeEnumTypeHandler"
                     javaType="com.youthlin.blog.model.enums.CommentStatus"/>
        <typeHandler handler="com.youthlin.blog.support.CodeEnumTypeHandler"
                     javaType="com.youthlin.blog.model.enums.CommentType"/>
        <typeHandler handler="com.youthlin.blog.support.CodeEnumTypeHandler"
                     javaType="com.youthlin.blog.model.enums.PostStatus"/>
        <typeHandler handler="com.youthlin.blog.support.CodeEnumTypeHandler"
                     javaType="com.youthlin.blog.model.enums.PostType"/>
        <typeHandler handler="com.youthlin.blog.support.CodeEnumTypeHandler"
                     javaType="com.youthlin.blog.model.enums.UserStatus"/>
    </typeHandlers>
</configuration>
